/* body {
    margin: 0;
    height: 100%;
}

#calDiv {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
}

.day {
    border: 0.1px solid lightgray;
} */